@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 137 50% 63%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --tertiary: 43 76% 65%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 1rem;
    --scroll-bar-color: #c5c5c5;
    --scroll-bar-bg-color: rgba(160, 160, 160, 0.2);
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 137 50% 63%;
    --primary-foreground: 144.9 80.4% 10%;
    --primary-hero: hsl(137 50% 63%);
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --tertiary: 43 76% 65%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--scroll-bar-color) var(--scroll-bar-bg-color);
  }

  body {
    @apply bg-background text-foreground;
  }
  html {
    scrollbar-gutter: stable;
  }

  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: var(--scroll-bar-bg-color);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bar-color);
    border-radius: 20px;
    border: 3px solid var(--scroll-bar-bg-color);
  }

  ::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
  }
}

@layer utilities {
  .landing-footer-link {
    @apply text-xs font-semibold underline md:text-sm;
  }

  .dashboard-spacing {
    @apply mt-6 md:mt-0 md:px-8 md:p-10;
  }

  .dashboard-section-theme {
    @apply bg-secondary/30 border-secondary/30;
  }

  .code-block {
    max-height: 100px;
    overflow: auto;
    padding: 8px 7px 5px 15px;
    margin: 0px 0px 0px 0px;
    border-radius: 7px;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none !important;
  }

  .scrollbar-hidden {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
  }
}

pre {
  color: var(--code-color);
  font-size: var(--code-font-size);
  line-height: var(--code-line-height);
  background-color: var(--code-bg-color);
}

@media only screen and (max-width: 640px) {
  .smScrollbar-hidden::-webkit-scrollbar {
    display: none !important;
  }

  .smScrollbar-hidden {
    -ms-overflow-style: none !important; /* IE and Edge */
    scrollbar-width: none !important; /* Firefox */
  }
}
